body {
  font-family: 'Montserrat', sans-serif;
}

.section-header {
  min-height: 12vh;
  background-image: url('../assets/img/bg.jpg');
  background-size: cover;
  background-position-y: -50px;
  position: relative;
  z-index: 1;

  .image {
    position: relative;
    z-index: 4;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33944915856967783) 0%, rgba(156, 156, 156, 0.17418305212710083) 100%);

  }

  .logo-text {
    position: relative;
    z-index: 4;

    h4 {
      font-size: 1rem;
      font-weight: 700;
    }

    p {
      font-size: .8rem;
    }
  }
}

.section-tab {
  .tab-item {
    flex-grow: 1;
    padding: 10px;
    color: gray;
    text-decoration: none;
  }

  .active {
    background-color: #eaeaea;
    color: orange;
    border-bottom: 3px solid orange;
  }
}

.section-category {
  .category-item {
    flex-grow: 1;
    font-size: .8rem;
    color: orange;
    text-decoration: none;
    border-right: 2px solid #dedede;

  }

  .category-item:nth-last-child(1) {
    border: none;
  }
}

.section-product {
  .card {
    max-width: 408px;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 10px;

    .product-name {
      font-size: 1rem;
    }

    .product-price {
      font-size: .8rem;
    }

    .product-condition {
      font-size: .7rem;
    }
  }
}