body {
  font-family: 'Montserrat', sans-serif;
}

.section-header {
  min-height: 12vh;
  background-image: url('../assets/img/bg.jpg');
  background-size: cover;
  background-position-y: -50px;
  position: relative;
  z-index: 1;

  .image {
    position: relative;
    z-index: 4;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.33944915856967783) 0%, rgba(156, 156, 156, 0.17418305212710083) 100%);

  }

  .logo-text {
    position: relative;
    z-index: 4;

    h4 {
      font-size: .8rem;
      font-weight: 700;
    }

    p {
      font-size: .7rem;
    }
  }
}

.section-tab {
  .tab-item {
    flex-grow: 1;
    padding: 10px;
    color: gray;
    background-color: #fff;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
  }

  .active {
    background-color: #eaeaea;
    color: orange;
    border-bottom: 3px solid orange;
  }

  .section-category {
    background-color: #fff;
    padding-bottom: 15px;

    .category-item {
      flex-grow: 1;
      font-size: .8rem;
      color: gray;
      text-decoration: none;
      border-right: 2px solid #dedede;
    }

    .select {
      color: orange;
    }

    .category-item:nth-last-child(1) {
      border: none;
    }
  }
}


.section-product {
  .card {
    margin-top: 10px;
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    position: relative;

    .card-img-top {
      max-width: 180px;
      border-radius: 10px;
      border-bottom: 4px solid orange;
      object-fit: cover;
      object-position: center;
    }

    .new {
      position: absolute;
      top: 0;
      right: 0;
      width: 35px;
    }

    .sold {
      position: absolute;
      top: -7px;
      right: 0;
      width: 40px;
    }


    .category {
      font-size: .7rem;
    }

    .product-name {
      font-size: .8rem;
    }

    .product-price {
      font-size: .8rem;
      font-weight: 500;
    }

    .product-condition {
      font-size: .7rem;
    }
  }

  .btn-load-more {
    background-color: orange;
    color: #fff;
    font-size: 1rem;
    border-radius: 8px;
  }
}

.section-list-category {
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    border-left: none;
    border-right: none;

    p {
      font-size: .7rem;
      margin: 0;
      color: gray;
    }
  }

  img {
    width: 10px;
    height: 10px;
  }
}

.section-product-detail {
  .swiper {
    max-width: 768px;
    border-bottom: 3px solid orange;

    .swiper-slide {
      text-align: center;
    }

    img {
      width: 250px;
    }
  }

  .price {
    position: relative;

    h2 {
      font-size: 1.6rem;
      font-weight: 700;
    }

    h3 {
      font-size: 1rem;
    }

    .badge-status {
      position: absolute;
      top: 0;
      right: 10px;
    }
  }

  .table {
    font-size: .8rem;
    font-weight: 500;
  }

  .btn-back {
    cursor: pointer;
    z-index: 3;
  }

  .content-buy-now {
    .buy-now {
      font-size: .8rem;
      margin-left: 5px;
    }
  }
}